body{
    background-image: url("../oficina/imagens/wallpapers-branco-em-4k-11.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px gold;
    font-size: 40px;
}